<!DOCTYPE html>
<html lang="en">
<head>
  <title>Wiki Map</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css">
  <link rel="stylesheet" href="/vendor/border-box.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
  <nav class='nav-bar'>
    <% include partials/_header.ejs %>
  </nav>

  <div class='container col-md-12'>
    <div class="row">
      <table class="table table-striped">
        <tr class="success">
          <th>Old Title</th>
          <th>New Title</th>
          <th>Old Description</th>
          <th>New Description</th>
          <th>Old Image</th>
          <th>New Image</th>
          <th>Old Coordinates</th>
          <th>New Coordinates</th>
          <th>Roll back</th>
        </tr>
      <% for (let i = 0; i < oldTitles.length; i++) { %>
        <tr>
          <th><%=oldTitles[i]%></th>
          <th><%=newTitles[i]%></th>
          <th><%=oldDescriptions[i]%></th>
          <th><%=newDescriptions[i]%></th>
          <th><%=oldImages[i]%></th>
          <th><%=newImages[i]%></th>
          <th><%=oldCoordinates[i]%></th>
          <th><%=newCoordinates[i]%></th>
          <th>
            <form action='/history/rollback/<%=pointIds[i]%>/<%=updatedAts[i]%>' method="POST">
              <button type="submit" class="btn btn-default">Select</button>
            </form>
          </th>
        </tr>
      <% } %>
      </table>
    </div>
  </div>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script src="/scripts/profile.js"></script>
  <script src="/scripts/login-buttons.js"></script>
</body>
</html>
